<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="bomb-button">
        <button @click = "boomclick" style="width: 25px;height: 25px;">{{ bombvalue }}</button>
    </div>
    <div id="bomb-button1">
        <button @click = "boomclick" style="width: 25px;height: 25px;">{{ bombvalue }}</button>
    </div>

    <script>
        var boomButton = new Vue ({
            el: '#bomb-button' ,
            data: {
                bombvalue: '-',
                hidevalue: '*' // * boom , - not a boom
            },
            methods: {
                boomclick: function() {
                    if(this.hidevalue == '-') return ;
                    this.bombvalue = this.hidevalue ;
                }
            },
            computed: {

            }
        });
        var boomButton1 = new Vue ({
            el: '#bomb-button1' ,
            data: {
                bombvalue: '-',
                hidevalue: '-' // * boom , - not a boom
            },
            methods: {
                boomclick: function() {
                    if(this.hidevalue == '-') return ;
                    this.bombvalue = this.hidevalue ;
                }
            },
            computed: {

            }
        });
    </script>
</body>
</html>